* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin: 2px;
/* Used the following properties to enable a red outline around any element to help me identify what changes I'm making */
    /* outline: 1px dashed red; */
    /* outline-offset: 2px; */
}

/* I used set variable colors to keep the theme consistent */
:root {
    --portfolio-black: #050505;
    --charcoal-gray: #3b3531;
    --portfolio-white: #F1F1F1;
    --portfolio-gray: #A1A1A1;
}

/* Used the html selector to set the pages standard rem size */
html {
    font-size: 1rem;
}

#icon {
    height: 38px;
    float: left;
    margin-right: 10px;
}

body {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ep_naturalblack.png");
}

.header {
    padding: 20px;
    font-family: 'Francois One', sans-serif;
}

.header h1 {
    display: inline-block;
    font-size: 2.5rem;
    color: var(--portfolio-white);
}

.header nav {
    float: right;
    font-family: 'Francois One', sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
    padding-top: 10px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--portfolio-gray);
    text-decoration: none;
}

/* Used Hover Pseudocode to enable a glow effect when hovering over the particular effect */
.code:hover {
    text-shadow: 2px 2px 5px var(--portfolio-gray);
}

.code-box:hover {
    box-shadow: 4px 4px 10px var(--portfolio-gray);
}

.self-image {
    height: 30rem;
    width: 30rem;
    background-image: url("../images/self-image-fed-2.png");
    background-size: cover;
    background-position: center;
}

.self-image-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    flex-direction: row;
    height: 80vh;
    gap: 20px;
}

.title-headers-1 {
    font-size: 401%;
    text-align: center;
    color: var(--portfolio-white);
    font-family: 'Francois One', sans-serif;
    font-variant: small-caps;
}

.title-headers-2 {
    font-size: 200%;
    font-weight: 700;
    text-align: center;
    color: var(--portfolio-white);
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
}

.title-headers-3 {
    font-size: 160%;
    font-weight: 300;
    text-align: center;
    color: var(--portfolio-gray);
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
}

main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.75rem;
}

main section p {
    padding: 60px 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--portfolio-white);
    font-weight: normal;
    text-align: center;
}

main li {
    padding: 5px;
    margin-left: 45%;
    color: var(--portfolio-white);
    list-style-type: circle;
}

/* Created a Class with Disc type to show the completed course from the UL */
.completed {
    list-style-type: disc;
    color: var(--portfolio-white);
}

.main-headers {
    font-size: 3.75rem;
    text-align: left;
    color: var(--portfolio-gray);
    font-family: 'Francois One', sans-serif;
    text-decoration: underline;
    font-variant: small-caps;
    padding-top: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0;
    padding: 5px;
}

.items {
    min-height: 120px;
    min-width: 120px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-color: var(--portfolio-gray);
    flex-basis: calc(50% - 1em);
    border: 3px solid var(--portfolio-white);
    margin: 14px;
}

/* Used First-Child Pseudocode to enable the first image to be bigger */
.items:first-child {
    min-height: 450px;
    flex-basis: 100%;
}

.large-img {
    background-image: url("../images/Movie-Finder-App.png");
    background-size: cover;
    background-position: top;
}

.project-2 {
    background-image: url("../images/Weather-Dashboard-App.png");
    background-size: cover;
    background-position: top;
    width: 50%;
    height: 350px;
}

.project-3 {
    background-image: url("../images/Work-Day-Scheduler-App.png");
    background-size: cover;
    background-position: top;
    width: 50%;
    height: 350px;
}

.container-h2 {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--portfolio-black);
    font-size: 1.25rem;
    margin: 0px 0px 10px 10px;
    border: 3px solid var(--portfolio-white);
    padding: 5px;
}

.info-style {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    font-family: 'Francois One', sans-serif;
}

footer {
    color: var(--portfolio-white);
    text-align: center;
}

/* Used this Media Queries to make the Self-Image smaller when the screen drops below 768px */

@media (max-width: 990px) {
    .self-image-cont {
        flex-direction: column;
        height: 70vh;
    }
}

@media (max-width: 768px) {
    .self-image {
        height: 15rem;
        width: 15rem;
    }
    .title-headers-1 {
        font-size: 201%;
    }
    .title-headers-2 {
        font-size: 99%;
    }
    .title-headers-3 {
        font-size: 77%;
    }
}

/* Used this Media Queries to make the Project 2 bigger when the screen drops below 768px */
@media (max-width: 768px) {
    .project-2 {
        flex-basis: 100%;
    }
}

/* Used this Media Queries to make the Project 3 bigger when the screen drops below 768px */
@media (max-width: 768px) {
    .project-3 {
        flex-basis: 100%;
    }
}

/* Used this Media Queries to make the Header and Nav more responsive when the screen drops below 768px */
@media (max-width: 768px) {
    .header {
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }
    html {
        font-size: .75rem;
    }
}

@media (max-width: 768px) {
    .info-style {
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }

    .contact-div {
        gap: 3rem;
    }
}