* {
/*    border: 1px red solid; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 1px dashed red;
    outline-offset: 2px; */
    margin: 2px;
}

/* I used set variable colors to keep the theme consistent */
:root {
    --portfolio-black: #050505;
    --charcoal-gray: #3b3531;
    --portfolio-white: #F1F1F1;
    --portfolio-gray: #A1A1A1;
}

::selection {
    background-color: var(--portfolio-white);
    color: var(--charcoal-gray);
}

html {
    font-size: 1rem;
}

#icon {
    height: 38px;
    float: left;
    margin-right: 10px;
}

body {
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ep_naturalblack.png");
}

.header {
    padding: 20px;
    font-family: 'Francois One', sans-serif;
}

.header h1 {
    display: inline-block;
    font-size: 2.5rem;
    color: var(--portfolio-white);
}

.header nav {
    float: right;
    font-family: 'Francois One', sans-serif;
    font-variant: small-caps;
    font-size: 2rem;
    padding-top: 10px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--portfolio-gray);
    text-decoration: none;
}

.code:hover {
    text-shadow: 2px 2px 5px var(--portfolio-gray);
}

.code-box:hover {
    box-shadow: 4px 4px 10px var(--portfolio-gray);
}

.self-image {
    height: 44rem;
    background-image: url("../images/self-image-fed.png");
    background-size: cover;
    background-position: center;
}

main {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.75rem;
}

main section p {
    padding: 60px 20px;
    font-family: 'Open Sans', sans-serif;
    color: var(--portfolio-white);
    font-weight: normal;
    text-align: center;
}

main section ul {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap column;
    align-items: center;
    color: var(--portfolio-white);
    list-style-type: circle;
}

main li {
    padding: 5px;
}

.main-headers {
    font-size: 3.75rem;
    text-align: left;
    color: var(--portfolio-gray);
    font-family: 'Francois One', sans-serif;
    text-decoration: underline;
    font-variant: small-caps;
    padding-top: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px 0;
    padding: 5px;
}

.container > .work {
    flex: 0 0 70%;
}

.items {
    min-height: 120px;
    min-width: 120px;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    background-color: var(--portfolio-gray);
    flex-basis: calc(50% - 1em);
    border: 3px solid var(--portfolio-white);
    margin: 14px;
}

.items:first-child {
    min-height: 350px;
    flex-basis: 100%;
}

.large-img {
    background-image: url("../images/application-after-html-css-edits.png");
    background-size: cover;
    background-position: top;
}

.project-2 {
    background-image: url("../images/hi-tech-1.jpg");
    background-size: cover;
    background-position: top;
    width: 50%;
    height: 250px;
}

.project-3 {
    background-image: url("../images/hi-tech-2.jpg");
    background-size: cover;
    background-position: bottom;
    width: 50%;
    height: 250px;
}

.container-h2 {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--portfolio-black);
    font-size: 1.25rem;
    margin: 0px 0px 10px 10px;
    border: 3px solid var(--portfolio-white);
    padding: 5px;
}

#justifi-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    font-family: 'Francois One', sans-serif;
}

footer {
    color: var(--portfolio-white);
    text-align: center;
}

@media (max-width: 768px) {
    .self-image {
        height: 22rem;
    }
}

@media (max-width: 768px) {
    .project-2 {
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    .project-3 {
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    .header {
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }
}